body{
  background-image: url('background.jpg');
  background-size: cover;
  color: white;
  padding-top: 2%;
  padding-bottom: 10%;
}

*{
  box-sizing: border-box;
}

.container{
  width: 1000px;
  margin: auto;
  background-color: rgba(0,0,0,0.6);
  padding: 5% 5% 7%;
  border-radius: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.logo{
 display: block;
 width: 200px;
 margin: auto;
}

.logo-text{
  color: #03d803;
  font-size: 35px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 4px;
}

nav{
  background-color: #03d803;
  padding: 10px;
}

nav > div{
  width: 40%;
  margin: auto;
}


section{
  color: white;
  padding-top: 3%;
}

.square:after{
  content: "\220E";
}

.arrow:after{
  content: "\21A6";
}

.riders{
  font-size: 25px;
}

.position, .riders{
  padding-bottom: 5px;
}

.position, .state{
  font-size: 15px;
}

.state{
  padding: 2px;
}

.row1{
  width: 30%;
  background-color: #edae67;
  color: #edae67;
}

.row2{
  width: 70%;
  background-color: #71ed67;
  color: #71ed67;
}

.row3{
  width: 10%;
  background-color: #e6274e;
  color: #e6274e;
}

.row1, .row2, .row3{
  border-radius: 5px;
}
